1.log
__pycache__/fight.cpython-38.pyc
__pycache__/functions.cpython-38.pyc
__pycache__/matchtemplate.cpython-38.pyc
__pycache__/main.cpython-38.pyc
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/PythonSettings.json
.vs/PY/v16/.suo
x.jpg
__pycache__/group.cpython-38.pyc
__pycache__/easy.cpython-38.pyc
