1.log
__pycache__/fight.cpython-38.pyc
__pycache__/functions.cpython-38.pyc
__pycache__/matchtemplate.cpython-38.pyc
__pycache__/main.cpython-38.pyc
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/PythonSettings.json
.vs/PY/v16/.suo
x.jpg
__pycache__/group.cpython-38.pyc
__pycache__/easy.cpython-38.pyc
1.jpg
z.jpg
__pycache__/adb.cpython-38.pyc
__pycache__/img.cpython-38.pyc
__pycache__/points.cpython-38.pyc
__pycache__/image.cpython-38.pyc
__pycache__/debug.cpython-38.pyc
__pycache__/sub.cpython-38.pyc
__pycache__/gameerror.cpython-38.pyc
__pycache__/march.cpython-38.pyc
PY.pyproj
